extends layout
block content
    h1= title
    if (toShow == null)
      h2 No instance to delete
    else
    - let racecarid = toShow._id
    - let driver = toShow.driver
    - let ranking = toShow.ranking
    - let actionid = "/resource/racecar/" + racecarid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='racecarAttr mr-3') Racecar ID is :
        div #{racecarid}
      div.row
        div(class='racecarAttr mr-3') Racecar driver is :
        div #{driver}
      div.row
        div(class='racecarAttr mr-3') Racecar ranking is :
        div #{ranking}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the racecar collection
        window.location.href='/racecar'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/racecar'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
        }